<h1> <%= @catagory.name %> </h1>
<p> <%= @catagory.description %> </p>

<% if not @catagory.articles.empty? %>
  <% @catagory.articles.each do |a| %>
    <p> <%= link_to a.name, article_path(a) %> </p>
  <% end %>
<% end %>

<p> <%= link_to 'Back to catagories', catagories_path %> </p>
